@font-face {
    font-family: 'WorkSans-Italic';
    src: url('./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'WorkSans';
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    
}

@font-face {
    font-family: 'WorkSans-Bold';
    src: url('./assets/fonts/static/WorkSans-Bold.ttf') format('truetype');
    font-weight: normal;
    
}

@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('./assets/fonts/static/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('./assets/fonts/static/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    
}
 
 
 body {
    margin: 0;
    background-color: hsl(292deg 9.87% 90.26%);
   
    }

.faq-bg{
  background-image: url('./assets/images/background-pattern-desktop.svg');
  background-size: cover;
  height: 200px;
}


.faq-wrapper{
    background-color:  hsl(0, 0%, 100%);
    position: absolute;
    max-width: 415px;
    width:100%;
    left: 50%;
    transform: translate(-50%,-20%);
    border-radius: 10px;
    padding: 10px;
}
.faq-header{
    display: flex;
    padding: 0px 10px;
    color:  hsl(292, 42%, 14%);
    font-family: 'WorkSans-Bold';
    font-size: 40px;
}
.faq-header img{
   width: 25px;
  
}

.faq-header p{   
    margin-left: 16px;
 }

 .faq-question{
    display: flex;
    color:  hsl(292, 42%, 14%);
    font-family: "WorkSans-SemiBold";
     font-size: 14px;
 }
 .faq-question img{
    width: 25px;
    margin-left: auto;
    cursor: pointer;
 }
 .faq-question:hover{
    color:hsl(293, 48%, 46%);
    cursor: pointer;
 }
 ul{
    list-style-type:none ;
    padding: 0px 10px;
    margin: 0;
 }

 .faq-answer{
    display: flex;
    color:  hsl(292, 16%, 49%);
    font-family: "WorkSans-Regular";
    font-size: 12px;
   
 }

 @media screen and (max-width: 375px) {
    .faq-wrapper {
        max-width: 80%;
        border-radius: 10px; 
        padding: 10px; 
       
    }
}


@media screen and (min-width: 1440px) {
    .faq-wrapper {
        max-width: 600px;
     
    }
}